
{% extends "base.html" %}
{% block content %}

 
 <div class="box">
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="notification is-danger">
     {{ messages[0] }}
   </div>
   {% endif %}
   {% endwith %}
   <form method="POST">
    <h3 class="title">Login</h3>
     <div class="input-box">
        <span class="icon">
          <ion-icon name="mail"></ion-icon>
        </span>
        <input  type="email" name="email" autofocus="" required>
        <label>Email</label>
     </div>
     <div class="input-box">
        <span class="icon">
          <ion-icon name="lock-closed"></ion-icon>
        </span>
        <input  type="password" name="password" required>
        <label>Password</label>
     </div>
     <div class="field">
       <label class="checkbox">
         <input type="checkbox" name="remember">
         Remember me
       </label>
     </div>
     <button type="submit" class="buttonmit">Login</button><br>
     <div class="register">
      <p>Don't have an account? <a href="#">Register</p>
     </div>
     <button class="buttonmit">with Facebook</button><br>
   </form>
 </div>

{% endblock %}
